.container {
  display: flex;
  height: 100%;
}

a {
  text-decoration: none;
}

.logoText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}
